@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;800&display=swap');

//media query
$mobileSize:375px;
$desktopSize:1440px;

//COLORS
$LightCyan: hsl(193, 38%, 86%);
$NeoGreen: hsl(150, 100%, 66%);
$GrayishBlue: hsl(217, 19%, 38%);
$DarkGrayishBlue: hsl(217, 19%, 24%);
$DarkBlue: hsl(218, 23%, 16%);

//FONT
$FontSize: 28px;
$FontFamily: 'Manrope',
sans-serif;
$weights: 800;