
/* BOX1 */
.BOX1 {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(3 ,1fr);
    row-gap: 10%;
    column-gap: 2%;
}

.BOX1 div {
    background-color: brown;
    padding: 10px;
    /* margin: 2%; */
    border-radius: 5px;
}

.boxA {
    grid-column-start: 1;
    grid-column-end: 3;
}

.boxB {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    
    /* grid-row-end: span 3; */
}