
<ul class="icons">
        <li><i class="fab fa-facebook-square"></i><a href="https://www.facebook.com/miriam.miryamoosh.1" target="_blank">facebook</a></li>
        <li><i class="fab fa-whatsapp"></i><a href="https://wa.me/972504848320" target="_blank">whatsapp</a></li>
        <li><i class="fab fa-instagram"></i><a href="https://www.instagram.com/miriam_kisos/" target="_blank">instagram</a></li>
        <li><i class="fab fa-twitter"></i><a href=" https://twitter.com/?lang=he" target="_blank">twitter</a></li>
        <li><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/miriam-kisos-719041217/" target="_blank">linkedin-in</a></li>
</ul>


